@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
body{
    line-height: 1.5;
    font-family: font-family: 'Poppins', sans-serif;
}

*
{padding: 0;
margin: 0;
font-family: 'Poppins', sans-serif;

}

.row
{    
    display: flex;
    height:70%;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    color:white;
    font-size: 30px;
    padding-left: 5rem;
    padding-top: 5rem;
    z-index: 2;
    position: absolute;
    margin-left: 3rem;
}
.col
{
   flex-basis:55%;
}
.card
{
    width:270px;
    height:50%;
    display: inline-flex;

    border-radius: 10px;
    cursor: pointer;
    box-sizing: border-box;
    padding: 15px 20px;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}

.card1
{
    background-image:url('IMAGES/book tickets.jpg');
}
.card2
{
    background-image:url('IMAGES/touri.jpg');
}
.card3
{
    background-image:url('IMAGES/waterfalls.jpg');
}
.card4
{
    background-image:url('IMAGES/hp.jpg');
}
.card p
{
    font-size:15px;
    text-align: right ;
}


.card a
{   
    
    line-height: 1.2rem;
    font-size: 1.4rem;
    padding-left:-10px;
}


.card:hover{
    transform: translateY(-10px);
}

#videoBG
{
    position: fixed;
    z-index: -1;
}

@media (min-aspect-ratio:16/9)
{
 #videoBG
{width:100%;
height: auto;}
}
    
@media (max-aspect-ratio:16/9)
{
 #videoBG
{width:100%;
height: 100%;}
}


.container
{
    width: 100%;
    height:100vh;
    background-position: center;
    background-size: cover;
    background-color: rgb(16, 58, 8);
}

.video-container
{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    opacity: 0.6;
}

.menu-bar
{
    align-items: center;
    display: flex;
    height:12%;
    text-align: right;
}

nav
{
    flex:1;
    text-align: right;
    margin-right: 50px;
    font-size: 30px;
    color: honeydew;
    z-index: 1;
    
}

nav ul li
{
    list-style: none;
    display: inline-block;
    padding-left: 30px;
    

}

a
{
    text-decoration: none;
    color: black;
    text-align: right;
    color: white;
    text-transform: bold;
}
   
.heading
{
    text-align: left;
    padding: 2.5rem 0;
    margin-left: 13rem;
}

.heading span
{
    font-size: 3.5rem;
    background: blanchedalmond;
    color: cadetblue;
    border-radius: .5rem;
    padding: .2rem 1rem;

}

.heading span.space 
{
    background: none;
}

.navigation
{   
   padding-top: 1.5rem ;
    padding-left: 5rem;
    padding-right: 2.5rem;
    color:rgb(69, 116, 117);
}

.book .r1
{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
}

.book .r1 .image
{
    flex: 1 1 40rem;
}

.book .r1 .image img{
    width: 100%;
}

.book .r1 form
{   
    margin-right: 50px;
    margin-left: 20px;
    flex: 1 1 30rem;
    padding: 2rem;
    box-shadow: 0 1rem 2rem black;
    border-radius: 0.5rem;
}

.book .r1 form .inputBox
{
    padding: 0.5rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.book .r1 form .inputBox input
{
    width: 100%;
    padding: 1rem;
    font-size:1.2rem;
    border: 0.5rem solid cadetblue 0.1;
    color:#333;
    background-color: blanchedalmond;
    text-transform: none;
}


.btn
{
    color: blanchedalmond;
    background-color: cadetblue;
    padding: .5rem 2rem;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    
}

.btn:hover
{
    background-color: blanchedalmond;
    color:cadetblue;
    transition: 0.4s;
}

.inputBox select
{
    padding: 1rem;
    width: 100%;
    font-size: large;
    background-color:blanchedalmond;
    cursor: pointer;
}

.formconf{
    padding: 5rem;
    width: fit-content;
    font-size: 1.5rem;
    color:cornsilk;
    text-align: center;
    
    background-color: rgb(104, 128, 129);
    border-radius: 1rem soli
    d cadetblue;
    
}

.CENTERAL
{
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    position: absolute;
}

.CENTERAL button
{
    background-color: rgb(104, 128, 129);
    padding: 1.5rem;
    border-radius: 50%;
    border-color: cadetblue;
    font-size: 1rem;
    color: blanchedalmond;
    float: left;
    margin-left:5.5rem;
    cursor: pointer;
}

.CENTERAL button:hover
{
    background-color: blanchedalmond;
    color:  rgb(104, 128, 129);
    transition: 0.4s;
}

.CENTERAL h1
{
    color: rgb(104, 128, 129);
    text-align: center;
}

@media print
{
    body *{
        visibility: hidden;
    }

    .print-container, .print-container * {

        visibility: visible;

    }
}

.container2
{
    margin: auto;
}

.row1{
    display: flex;
    flex-wrap: wrap;
}

.footer
{
    box-sizing: border-box;
   color:cadetblue;
   background-color: blanchedalmond;
   padding: 70px 0;
}



.footer-col
{  
    width: 25%;
    padding:0 2.5%;

}

.footer-col h4{
    color:rgb(59, 101, 102);
    padding-bottom: 1.5rem;
    position: relative;
    font-size: 1.5rem;

}

.footer-col h4::before{
    content:"";
    position: absolute;
    left: 0;
    bottom: 20px;
    background-color: cadetblue;
    height:2px;
    box-sizing: border-box;
    width:50px;
}

.footer-col ul{
    list-style: none;
}

.footer-col ul li a
{
    color:cadetblue;
    transition: all 0.3s ease-in-out ;

}

.footer-col ul li a:hover{
    color: rgb(41, 79, 80);
    padding-left: 10px;
}

.footer-col .social-links a{
   display: inline-block;
    height:40px;
    width:40px;
    background-color: cadetblue;
    color:blanchedalmond;
    border-radius: 50%;
    text-align:center;
    margin: 0 10px 10px 0;
    
    
}

.footer-col .social-links i{

    line-height: 40px;
    text-align:center;
    transition: all 0.5s ease;
}


.footer-col .social-links a:hover{

    color:cadetblue;
    background-color: blanchedalmond;
}
i
{
    font-size: 1.5rem;
}
